.header {
  background-color: green;
  color: cyan;
  display: flex;
  justify-content: center;
  position: relative;
}

.headerContainer {
  width: 100%;
  max-width: 1024px;
  margin: 40px 20px 120px 20px;
}

.headerContainer.listMode {
  margin: 40px 20px 20px 20px;
}

.headerList {
  display: flex;
  gap: 80px;
  margin-bottom: 80px;
}

.headerListItem {
  display: flex;
  align-items: center;
  gap: 20px;
}

.headerListItem.active {
  border: 1px solid lightgreen;
  padding: 20px;
  border-radius: 30px;
}

.headerDesc {
  margin: 30px 10px;
}

.headerBtn {
  background-color: darkmagenta;
  color: lightpink;
  font-weight: 500;
  border: none;
  padding: 10px;
  cursor: pointer;
}

.headerSearch {
  height: 30px;
  background-color: greenyellow;
  border: 3px solid darkolivegreen;
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 10px 0px;
  border-radius: 5px;
  position: absolute;
  bottom: -25px;
  width: 100%;
  max-width: 1024px;
}

.headerIcon {
  color: darkred;
}

.headerSearchItem {
  display: flex;
  align-items: center;
  gap: 10px;
}

.headerSearchInput {
  border: none;
  outline: none;
}

.headerSearchText {
  color: darkblue;
  cursor: pointer;
}

.date {
  position: absolute;
  top: 50px;
  z-index: 2;
}

.options {
  z-index: 2;
  position: absolute;
  top: 50px;
  background-color: lightpink;
  color: darkorchid;
  border-radius: 5px;
  -webkit-box-shadow: 0px 0px 10px -5px rgba(0, 0, 0, 0.4);
  box-shadow: 0px 0px 10px -5px rgba(0, 0, 0, 0.4);
}

.optionItem {
  width: 200px;
  display: flex;
  justify-content: space-between;
  margin: 10px;
}

.optionCounter {
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: 12px;
  color: black;
}

.optionCounterButton {
  width: 30px;
  height: 30px;
  border: 1px solid red;
  color: purple;
  cursor: pointer;
  background-color: white;
}

.optionCounterButton:disabled {
  cursor: not-allowed;
}
